# Byte-completed / optimized / DIL files
__pycache__/
.DS_Store
*.py[cod]
*$py.class
chromedriver_linux64.zip
chromium-browser_108.0.5359.71-0ubuntu0.18.04.5.debian.tar.xz
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy